intern-middleware/src/main/resources/SubscriberService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SubscriberService" targetNamespace="urn:SubscriberService/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:SubscriberService/" xmlns:tnss="urn:SubscriberService/message/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:SubscriberService/message/" xmlns="http://www.w3.org/2001/XMLSchema">


            <element name="routerName" type="xsd:string"/>
            <element name="userIP" type="xsd:string"/>
            <element name="result" type="xsd:boolean"/>

            <element name="SAMORequest">
                <complexType>
                    <sequence>
                        <element name="routerName" type="xsd:string"/>
                        <element name="userIP" type="xsd:string"/>
                        <element name="routerIP" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>

            <complexType name="EntryResponse">
                <sequence>
                    <element name="routerName" type="xsd:string"/>
                    <element name="userIP" type="xsd:string"/>
                    <element name="routerIP" type="xsd:string"/>
                </sequence>
            </complexType>


            <element name="SAMOResponseList">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="0" name="SAMOResponse" type="tnss:EntryResponse"/>
                    </sequence>
                </complexType>
            </element>

            <element name="GeneralExceptionType">
                <complexType>
                    <sequence>
                        <element name="errorText" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>


        </schema>
  </types>
  <message name="getAllIPFromRouterRequest">
    <part name="param" element="tnss:SAMORequest">
    </part>
  </message>
  <message name="GeneralException">
    <part name="param" element="tnss:GeneralExceptionType">
    </part>
  </message>
  <message name="deleteIPFromRouterRequest">
    <part name="param" element="tnss:SAMORequest">
    </part>
  </message>
  <message name="operationResult">
    <part name="param" element="tnss:result">
    </part>
  </message>
  <message name="getAllIPFromRouterResponse">
    <part name="param" element="tnss:SAMOResponseList">
    </part>
  </message>
  <message name="addIPToRouterRequest">
    <part name="param" element="tnss:SAMORequest">
    </part>
  </message>
  <portType name="ServicePort">
    <operation name="addIPToRouter">
      <input name="param" message="tns:addIPToRouterRequest">
    </input>
      <output name="retval" message="tns:operationResult">
    </output>
      <fault name="GeneralException" message="tns:GeneralException">
    </fault>
    </operation>
    <operation name="deleteIPFromRouter">
      <input name="param" message="tns:deleteIPFromRouterRequest">
    </input>
      <output name="retval" message="tns:operationResult">
    </output>
      <fault name="GeneralException" message="tns:GeneralException">
    </fault>
    </operation>
    <operation name="getAllIPFromRouter">
      <input name="param" message="tns:getAllIPFromRouterRequest">
    </input>
      <output name="retval" message="tns:getAllIPFromRouterResponse">
    </output>
      <fault name="GeneralException" message="tns:GeneralException">
    </fault>
    </operation>
  </portType>
  <binding name="BindingSOAP" type="tns:ServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="addIPToRouter">
      <soap:operation soapAction="tns:addIPToRouter"/>
      <input name="param">
        <soap:body use="literal"/>
      </input>
      <output name="retval">
        <soap:body use="literal"/>
      </output>
      <fault name="GeneralException">
        <soap:fault name="GeneralException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteIPFromRouter">
      <soap:operation soapAction="tns:deleteIPFromRouter"/>
      <input name="param">
        <soap:body use="literal"/>
      </input>
      <output name="retval">
        <soap:body use="literal"/>
      </output>
      <fault name="GeneralException">
        <soap:fault name="GeneralException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAllIPFromRouter">
      <soap:operation soapAction="tns:getAllIPFromRouter"/>
      <input name="param">
        <soap:body use="literal"/>
      </input>
      <output name="retval">
        <soap:body use="literal"/>
      </output>
      <fault name="GeneralException">
        <soap:fault name="GeneralException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="SubscriberService">
    <port name="BindingSOAP" binding="tns:BindingSOAP">
      <soap:address location="http://localhost:8080/turksat/services/SubscriberService"/>
    </port>
  </service>
</definitions>
