intern-middleware/src/main/resources/TTNETSSOUserCrudWebService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ax29="http://model.ssouseroperations.mrd.com.tr/xsd" xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:ns="http://webservice.ssouseroperations.mrd.com.tr"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://webservice.ssouseroperations.mrd.com.tr">
    <wsdl:documentation>This service is used for mobile/user management methods</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://model.ssouseroperations.mrd.com.tr/xsd">
            <xs:complexType name="Property">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="result" nillable="true"
                                type="ax29:NameValueBean"/>
                    <xs:element minOccurs="0" name="returnCode" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NameValueBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AuthenticationProperty">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customer" nillable="true" type="ax29:Customer"/>
                    <xs:element minOccurs="0" name="eulaIsSigned" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="result" nillable="true"
                                type="ax29:NameValueBean"/>
                    <xs:element minOccurs="0" name="returnCode" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Customer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="adslNo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="adslPassword" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="adslUserName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mobilePhoneNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ssoUniqueID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subscriberID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="telephoneNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="webTVNo" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax210="http://model.ssouseroperations.mrd.com.tr/xsd" attributeFormDefault="qualified"
                   elementFormDefault="qualified" targetNamespace="http://webservice.ssouseroperations.mrd.com.tr">
            <xs:import namespace="http://model.ssouseroperations.mrd.com.tr/xsd"/>
            <xs:element name="sendPassword">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="vasGuid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="mobileNumber" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendPasswordResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax210:Property"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendEmailPassword">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="vasGuid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendEmailPasswordResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax210:Property"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="eulaUpdate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="vasGuid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eulaSigned" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="eulaUpdateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax210:Property"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="vasGuid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="userTypeCode" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="ttnetAdslUsername" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="ttnetAdslPassword" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="mobileNumber" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="birthDate" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax210:Property"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changePassword">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="vasGuid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changePasswordResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax210:Property"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authenticate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="vasGuid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="getAdslPassword" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authenticateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax210:AuthenticationProperty"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="authenticateRequest">
        <wsdl:part name="parameters" element="ns:authenticate"/>
    </wsdl:message>
    <wsdl:message name="authenticateResponse">
        <wsdl:part name="parameters" element="ns:authenticateResponse"/>
    </wsdl:message>
    <wsdl:message name="changePasswordRequest">
        <wsdl:part name="parameters" element="ns:changePassword"/>
    </wsdl:message>
    <wsdl:message name="changePasswordResponse">
        <wsdl:part name="parameters" element="ns:changePasswordResponse"/>
    </wsdl:message>
    <wsdl:message name="eulaUpdateRequest">
        <wsdl:part name="parameters" element="ns:eulaUpdate"/>
    </wsdl:message>
    <wsdl:message name="eulaUpdateResponse">
        <wsdl:part name="parameters" element="ns:eulaUpdateResponse"/>
    </wsdl:message>
    <wsdl:message name="createUserRequest">
        <wsdl:part name="parameters" element="ns:createUser"/>
    </wsdl:message>
    <wsdl:message name="createUserResponse">
        <wsdl:part name="parameters" element="ns:createUserResponse"/>
    </wsdl:message>
    <wsdl:message name="sendEmailPasswordRequest">
        <wsdl:part name="parameters" element="ns:sendEmailPassword"/>
    </wsdl:message>
    <wsdl:message name="sendEmailPasswordResponse">
        <wsdl:part name="parameters" element="ns:sendEmailPasswordResponse"/>
    </wsdl:message>
    <wsdl:message name="sendPasswordRequest">
        <wsdl:part name="parameters" element="ns:sendPassword"/>
    </wsdl:message>
    <wsdl:message name="sendPasswordResponse">
        <wsdl:part name="parameters" element="ns:sendPasswordResponse"/>
    </wsdl:message>
    <wsdl:portType name="TTNETSSOUserCrudWebServicePortType">
        <wsdl:operation name="authenticate">
            <wsdl:input message="ns:authenticateRequest" wsaw:Action="urn:authenticate"/>
            <wsdl:output message="ns:authenticateResponse" wsaw:Action="urn:authenticateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="changePassword">
            <wsdl:input message="ns:changePasswordRequest" wsaw:Action="urn:changePassword"/>
            <wsdl:output message="ns:changePasswordResponse" wsaw:Action="urn:changePasswordResponse"/>
        </wsdl:operation>
        <wsdl:operation name="eulaUpdate">
            <wsdl:input message="ns:eulaUpdateRequest" wsaw:Action="urn:eulaUpdate"/>
            <wsdl:output message="ns:eulaUpdateResponse" wsaw:Action="urn:eulaUpdateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createUser">
            <wsdl:input message="ns:createUserRequest" wsaw:Action="urn:createUser"/>
            <wsdl:output message="ns:createUserResponse" wsaw:Action="urn:createUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="sendEmailPassword">
            <wsdl:input message="ns:sendEmailPasswordRequest" wsaw:Action="urn:sendEmailPassword"/>
            <wsdl:output message="ns:sendEmailPasswordResponse" wsaw:Action="urn:sendEmailPasswordResponse"/>
        </wsdl:operation>
        <wsdl:operation name="sendPassword">
            <wsdl:input message="ns:sendPasswordRequest" wsaw:Action="urn:sendPassword"/>
            <wsdl:output message="ns:sendPasswordResponse" wsaw:Action="urn:sendPasswordResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TTNETSSOUserCrudWebServiceSoap11Binding" type="ns:TTNETSSOUserCrudWebServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="authenticate">
            <soap:operation soapAction="urn:authenticate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eulaUpdate">
            <soap:operation soapAction="urn:eulaUpdate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changePassword">
            <soap:operation soapAction="urn:changePassword" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createUser">
            <soap:operation soapAction="urn:createUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendPassword">
            <soap:operation soapAction="urn:sendPassword" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendEmailPassword">                             TTNETSSOUserCrudWebServiceTTNETSSOUserCrudWebService
            <soap:operation soapAction="urn:sendEmailPassword" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TTNETSSOUserCrudWebService">
        <wsdl:port name="TTNETSSOUserCrudWebServiceHttpSoap11Endpoint"
                   binding="ns:TTNETSSOUserCrudWebServiceSoap11Binding">
            <soap:address
                    location="http://88.255.67.17:9001/SSOUserOperationsWebService/services/TTNETSSOUserCrudWebService.TTNETSSOUserCrudWebServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
